.map {
  position: relative;
}
.wrapper {
  width: 100%;
  aspect-ratio: 16 / 9;
}
.wrapper img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
